*{
    margin: 0;
    padding: 0;
}

audio{
    position: absolute;
    right: 0;
    top: 0;
    width: 120px;
}

body{
    background-color: #51e0e0;
}


.container-main {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header2 {
    background-color:#ddfcfc;
    height: 20vh;
    display: flex;
    justify-content: space-around;
}

.nome {
    width: 15%;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 50px;
    align-self: center;
    color: #406161;
}

.logo2 {
    width: 3%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.header-mid{
    display: flex;
    margin: 10px;
}


.logo{
    width: 190px;
  
}

.links{
    margin-left: 150px;
}

.links ul li, a {
    display: inline;
    margin: 1px 10px;
    padding: 10px;
    font-family: 'Open Sans', Verdana, Geneva, 'DejaVu Sans', sans-serif;
    font-size: 20px;
    line-height: 150px;
    
}

a:visited, a:link {
    color: #406161;
}

.links ul {
    text-align: center;
    padding-bottom: 10px;
}

.links ul li:hover {
    background-color: #fff;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 5px 5px 10px #16161f;
    transition: ease-in 0.1s;
}

.main2 {
    /* background-color: brown; */
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url('../img/rio-sucuri.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.box-main{
    width: 100vw;
    height: 80vh;
    background-color: rgba(255, 255, 255, 0.4);
}

.text-main{
    color: black;
    /* font-family: 'Open Sans', Verdana, Geneva, 'DejaVu Sans', sans-serif; */
    font-size: 26px;
    font-weight:500;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;   
    grid-template-rows: 30vh 30vh 20vh;
    font-family: 'Comfortaa', cursive; 
    font-weight: 700;
    line-height: 35px;
    
}

.text-first{
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 20px;
    margin-left: 25px;
    
}

.text-second{
    text-align: center;
    grid-column: 3/4;
    grid-row: 1/2;
    margin-top: 20px;
    margin-right: 25px;
    font-style: italic;


}

.text-third{
    text-align: justify;
    grid-column: 3/4;
    grid-row: 3/4;
    justify-self: center;
    margin-top: 80px;
    margin-right: 25px;
}

.main3 {
    background-color: brown;
    height: 80vh;
    display: flex;
    /* align-items: center;
    justify-content: space-around;
    background-image: url('../img/rio-sucuri.jpeg');
    background-size: cover;
    background-repeat: no-repeat; */
}

.box-main3{
    width: 100vw;
    height: 30vh;
    background-color: #406161;
}

.main4 {
    background-color:blueviolet;
    height: 80vh;
    display: flex;
}

.box-main4{
    width: 100vw;
    height: 30vh;
    background-color: aquamarine;
}

.formulario{
    width: 100vw;
    height: 60vh;
    background-color:bisque;
    font-family: 'Comfortaa', cursive; 
}

.box-main-formulario{
    padding: 30px;
    border-radius: 25px;
    color: black;
    /* height: 80vh; */
    background-color: transparent;
    
}

h1 {
    text-align: center;
    
}


