*{
    margin: 0;
    padding: 0;
}

audio{
    position: absolute;
    right: 0;
    top: 0;
    width: 120px;
}

body{
    background-color: #51e0e0;
}


.container-main {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header2 {
    background-color:#ddfcfc;
    height: 20vh;
    display: flex;
    justify-content: space-around;
}

.main2 {
    background-color: brown;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url('../img/rio-sucuri.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.box-main{
    width: 100vw;
    height: 80vh;
    background-color: rgba(255, 255, 255, 0.4);
    
}



.nome {
    width: 15%;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 50px;
    align-self: center;
    color: #406161;
}

.logo2 {
    /* background-color: red; */
    width: 10%;
    height: 100%;
    position: relative;
    
}

.logo{
    width: 220px;
    height: 100%;
   
}

.links{
    width: 60%;
}

.links ul li, a {
    display: inline;
    margin: 1px 10px;
    padding: 10px;
    font-family: 'Open Sans', Verdana, Geneva, 'DejaVu Sans', sans-serif;
    font-size: 18px;
    line-height: 150px;
    
}

a:visited, a:link {
    color: #406161;
}

.links ul {
    text-align: center;
    padding-bottom: 10px;
}

.links ul li:hover {
    background-color: #fff;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 5px 5px 10px #16161f;
    transition: ease-in 0.1s;
}


