*{
    margin: 0;
    padding: 0;
}

audio{
    position: absolute;
    right: 0;
    top: 0;
    width: 120px;
}

body{
    background-color: #00f165;
}


.container-main {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header2 {
    background-color:#ddfcfc;
    height: 20vh;
    display: flex;
    justify-content: space-around;
}

.nome {
    width: 15%;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 50px;
    align-self: center;
    color: #406161;
}

.logo2 {
    width: 3%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.header-mid{
    display: flex;
    margin: 10px;
}


.logo{
    width: 190px;
  
}

.links{
    margin-left: 150px;
}

.links ul li, a {
    display: inline;
    margin: 1px 10px;
    padding: 10px;
    font-family: 'Open Sans', Verdana, Geneva, 'DejaVu Sans', sans-serif;
    font-size: 20px;
    line-height: 150px;
    
}

a:visited, a:link {
    color: #406161;
}

.links ul {
    text-align: center;
    padding-bottom: 10px;
}

.links ul li:hover {
    background-color: #fff;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 5px 5px 10px #16161f;
    transition: ease-in 0.1s;
}

.main2 {
    /* background-color: brown; */
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url('../img/rio-sucuri.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.box-main{
    width: 100vw;
    height: 80vh;
    background-color: rgba(255, 255, 255, 0.4);
}

.text-main{
    color: black;
    font-size: 26px;
    font-weight:500;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;   
    grid-template-rows: 30vh 30vh 20vh;
    font-family: 'Comfortaa', cursive; 
    font-weight: 700;
    line-height: 35px;
    
}

.text-first{
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 20px;
    margin-left: 25px;
    
}

.text-second{
    text-align: center;
    grid-column: 3/4;
    grid-row: 1/2;
    margin-top: 20px;
    margin-right: 25px;
    font-style: italic;


}

.text-third{
    text-align: justify;
    grid-column: 3/4;
    grid-row: 3/4;
    justify-self: center;
    margin-top: 80px;
    margin-right: 25px;
}

.main3 {
    background-color: brown;
    height: 80vh;
    display: flex;
}

.box-main3{
    width: 100vw;
    height: 30vh;
    background-color: #406161;
}

.main4 {
    background-color:blueviolet;
    height: 80vh;
    display: flex;
}

.box-main4{
    width: 100vw;
    height: 30vh;
    background-color:#ddfcfc;
}

.formulario{
    width: 100vw;
    height: 60vh;
    font-family: 'Comfortaa', cursive; 
    margin-bottom: 80px;
}

.box-main-formulario{
    padding: 30px;
    color: black;
    background-color: #ddfcfc;
    flex-direction: column;
}

h1 {
    text-align: center;
}

.form-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.form{
    width: 80vw;
    text-align: center;
    padding: 50px;
    font-family: 'Comfortaa', cursive; 

}

.description-form {
    display: flex;
    justify-content: center;
}

.input-form {
    height: 30px;
    width: 300px;
    border-radius: 10px;
    font-size: 16px;
}

.input-form1{
    height: 30px;
    width: 60px;
    border-radius: 10px;
    font-size: 16px;
}

.input-form2{
    height: 200px;
    width: 500px;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Comfortaa', cursive; 
    resize: none;
       
}

.label-form{
    margin-left: 10px;
}

.label-form1{
    margin-left: 10px;
    font-size: 18px;
    font-family: 'Comfortaa', cursive;
}

.bottom-form{
    height: 30px;
    width: 70px;
    font-size: 14px;
}

.main5 {
    background-color:rgb(43, 159, 226);
    height: 80vh;
    display: flex;
    
        
}

.box-main5{
    width: 100vw;
    height: 30vh;
    background-image: url(../img/contato1.jpeg), linear-gradient(0deg, rgba(255, 255, 255, 0.4),rgba(255, 255, 255, 0.4));
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
       
}

.main5-contain{
    font-size: 60px;
    line-height: 40px;
    font-weight: 700;
    font-family: 'Comfortaa', cursive;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 100px;
    
}

